<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/dark.css' id="theme-link" />
  </head>
  <body>
    <button class="btn-toggle">Switch Theme</button>
    {{{body}}}
  <script src="/javascripts/toggle-theme.js"></script>
  </body>
</html>
